.header-box {
    background-color: rgb(64, 70, 37, 0.75);
}

.banner {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-clip: border-box;
    background-position: center;
    height: 100vh;
}

.banner-box {
    color: #fff;
    display: flex;
    justify-content: space-between;
    height: 100%;
    padding: 0 30px 80px;
    align-items: flex-end;
}


.banner__title {
    font-size: 5.5rem;
}

.banner__btn {
    align-self: flex-end;
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(64, 70, 3, 0.75);
    border: none;
    font-size: 32px;
    padding: 30px 80px;
    border-radius: 50px;
    max-width: max-content;
    max-height: max-content;
    cursor: pointer;
}

.banner__btn:hover {
    background-color: #404625;  
}

.theme__dark {
    background-color: #3C3314;
    color:#fff;
}

.title { 
    font-size: 36px;
    font-weight: 500;
}

.about-box {
    padding: 50px 30px 80px;
    display: flex;
    gap: 20px;
}

.about__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.about__text {
    width: 60%;

}

.about__img img {
    width: 100%;
    max-width: 480px;
}



.logo img {
    height: 90px;
}


.about p {
    font-size: 32px;
    margin-bottom: 40px;
}

.about a {
 color: #fff;
 font-size: 32px;
 border-bottom: 1px solid #fff;
}


.about a:hover {
    border-bottom: 0;
}

.why-box {
    padding: 50px 30px 80px;
}

.why__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 50px;
}

.why__title a img {
    height: 80px;
}


.why__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.why__card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.why__card p {
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
}

.why__card-image {
    max-width: 300px;
}

.why__card-image img {
    width: 100%;
    border-radius: 50px;
}

.expert-box {
    padding: 70px 30px 100px;
    color: #8F9467;
}

.expert__title {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.expert__title img {
    padding-bottom: 5px;
}


.expert__subtitle {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
}

.expert__text {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 300;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    align-items: center;
}

.expert__link {
    font-weight: 700;
    color: #8F9467;
    border-bottom: 3px solid #8F9467;
}

.expert__link:hover {
    border-bottom: 0;
}

.expert__img {
    border-radius: 50%;
}

.expert__img img {
    width: 100%;
    border-radius: 50%;
    max-width: 300px;
}

@media (max-width: 880px) {
    .banner-box {
        flex-direction: column;
        align-content: end;
    }
    .banner__title{
    font-size: 3.5rem;
    }
    .banner__btn {
        margin-top: 20px;
    }

    .about-box{
        flex-direction: column;
    }

    .about__text {
    width: 100%;
    }
    
    .about__img {
        margin: 0 auto;
    }

    .why__card-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

    .expert__text {
        display: flex;
        flex-direction: column-reverse;
    }

}
    

@media (max-width: 480px) {
    .banner-box {
        display: block;
        
        margin-bottom: 20px;
        margin-top: auto;
    }

    .header__burger {
        display: block;
    }

}