.banner {
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-clip: border-box;
    background-position: center;
    color: #fff;
    height: 100vh;
    padding-left: 80px;
    display: flex;
    flex-direction: column;
}

.banner__title {
    padding-top: 45vh;
    font-size: 5.5rem;
}

.banner__btn {
    color: #fff;
    font-family: "Ubuntu", sans-serif;
    background-color: rgb(64, 70, 3, 0.75);
    border: none;
    font-size: 32px;
    padding: 30px 80px;
    border-radius: 50px;
    margin-right: 100px;
    margin-left: auto;
    cursor: pointer;
    
}

.banner__btn:hover {
    background-color: #404625;  
}

.theme__dark {
    background-color: #3C3314;
    color:#fff;
}

.title { 
    font-size: 36px;
    font-weight: 500;
}

.about {
    padding: 50px 30px 80px 60px;
    display: flex;
    gap: 20px;
}

.about__text {
    width: 60%;

}

.about__img img {
    width: 100%;
}

.about__title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.logo img {
    height: 90px;
}


.about p {
    font-size: 32px;
    margin-bottom: 40px;
}

.about a {
 color: #fff;
 font-size: 32px;
 border-bottom: 1px solid #fff;
}


.about a:hover {
    border-bottom: 0;
}

.why {
    padding: 50px 80px 80px 80px;
}

.why__title {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}

.why__title a img {
    height: 80px;
}


.why__card-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.why__card {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: center;
}

.why__card p {
    padding-bottom: 10px;
    font-size: 28px;
    font-weight: 400;
}

.why__card-image {
    max-width: 300px;
}

.why__card-image img {
    width: 100%;
    border-radius: 50px;
}

.expert {
    padding: 70px 80px 100px;
    color: #8F9467;
}

.expert__title {
    display: flex;
    align-items: center;
}

.expert__title img {
    padding-bottom: 5px;
}

.expert__content {
    margin-left: 40px;
    
}

.expert__subtitle {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 500;
}

.expert__text {
    margin-top: 50px;
    font-size: 28px;
    font-weight: 300;
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 50px;
    align-items: center;
}

.expert__link {
    font-weight: 700;
    color: #8F9467;
    border-bottom: 3px solid #8F9467;
}

.expert__link:hover {
    border-bottom: 0;
}

.expert__img {
    border-radius: 50%;
}

.expert__img img {
    width: 100%;
    border-radius: 50%;
    max-width: 300px;
}

.footer {
    background-color: #000;
    color: #fff;
    font-size: 28px;
    padding: 150px 100px 110px;
    display: flex;
    justify-content: space-between;
}


.footer_links-tel {
    margin-top: 20px;
    display: block;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #fff;
}

.footer__links-tel:hover {
    border-bottom: 0;
}


.footer__nav ul{
    list-style-type: none;

}

.footer__nav li {
    margin-top: 20px;
}

.footer__nav a {
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    border-bottom: 2px solid #fff;
}

.footer__nav a:hover {
    border-bottom:0;
}