@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.container {
    max-width: 1280px;
    width: 100%;
    margin: 0 auto;
    height: 100%;
}

.header {
    position: fixed;
    inset: 10px 25px;
    max-height: 70px;
}

.header-box {
    height: 100%;
    background-color: rgb(64, 70, 37, 0.75);
    font-size: 20px;
    border-radius: 50px;
    font-weight: 300;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header__logo img{
    max-height: 70px;
}

.header__burger {
    display: none;
    padding: 15px 10px 10px;
}

.header__burger img {
    max-width: 50px;
}

.header__nav-link {
    border-bottom: 1px solid #fff;
    color: #fff;
}

a.logo {
    border-bottom: 0 !important; 
}

.header__nav-link:hover {
    border-bottom: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.footer {
    background-color: #000;
    color: #fff;
    font-size: 28px;
}

.footer-box {
    padding: 150px 100px 110px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.footer_links-tel {
    margin-top: 20px;
    display: block;
    color: #fff;
    font-weight: 500;
    border-bottom: 1px solid #fff;
}

.footer__links-tel:hover {
    border-bottom: 0;
}


.footer__nav ul{
    list-style-type: none;

}

.footer__nav li {
    margin-top: 20px;
}

.footer__nav a {
    color: #fff;
    font-weight: 300;
    margin-top: 20px;
    border-bottom: 2px solid #fff;
}

.footer__nav a:hover {
    border-bottom:0;
}

.footer__contact {
    display: block;
    align-self: center;
}

.bold {
    font-weight: 700;
}

.theme__dark {
    background-color: #3C3314;
    color:#fff;
}

.theme__light {
    background-color: #8F9467;
    color:#404625;
}

@media (max-width: 880px) {
    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
    }
}

@media (max-width: 480px) {
    .header__nav {
        display: none;
    }

    .header__burger {
        display: block;
    }

}