@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    box-sizing: border-box;
    font-weight: 300;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
}

body {
    font-family: "Ubuntu", sans-serif;
}

.header {
    position: fixed;
    inset: 10px 25px;
    height: 70px;
    background-color: rgb(64, 70, 37, 0.75);
    font-size: 20px;
    border-radius: 50px;
    font-weight: 300;
    padding: 0 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header a {
    border-bottom: 1px solid #fff;
    color: #fff;
}

a.logo {
    border-bottom: 0 !important; 
}

.header a:hover {
    border-bottom: 0;
}

nav ul {
    display: flex;
    list-style-type: none;
    gap: 20px;
}

.bold {
    font-weight: 700;
}

.theme__dark {
    background-color: #3C3314;
    color:#fff;
}

.theme__light {
    background-color: #8F9467;
    color:#404625;
}